<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <forms>
        <form name="paygreenClimatekit_configuration" class="PayGreenClimateKit\Form\ConfigForm" />
    </forms>

    <services>
      <service id="paygreenClimatekit.service.hook" class="PayGreenClimateKit\Hook\HookManager">
        <argument type="service" id="thelia.parser"/>
        <argument type="service" id="Thelia\Core\Template\Assets\AssetResolverInterface"/>
        <argument type="service" id="event_dispatcher"/>
        <argument type="service" id="PayGreenClimateKit\Service\PaygreenApiService"/>
      </service>
    </services>
</config>
